*{
    padding: 0;
    margin: 0;
    font-family: "Arimo", sans-serif;
}
body{
    background-color: black;
    color: burlywood;
}
h1{
 font-family: "Roboto Condensed", sans-serif;
}
header i{
    margin-right: 20px;
    font-size: xx-large;
}
header{
    height:70px ;
    width:100% ;
    background-color: rgba(255, 228, 196, 0.41);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    border: 2px;
    margin-left: 30px;
    border-radius: 50%;
}
.row{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
img:hover{
    transform: rotate(360deg);
transition: all ease-in-out 2s;    
}
/* From Uiverse.io by alexroumi */ 
button {
 padding: 15px 25px;
 border: unset;
 border-radius: 15px;
 color: #212121;
 z-index: 1;
 background: #e8e8e8;
 position: relative;
 font-weight: 1000;
 font-size: 17px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(200, 139, 139, 0.919);
 box-shadow: 4px 8px 19px -3px rgba(182, 71, 71, 0.825);
 transition: all 250ms;
 overflow: hidden;
}

button::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 15px;
 background-color: #212121;
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms
}

button:hover {
 color: #e8e8e8;
}

button:hover::before {
 width: 100%;
}